.row{
display:flex;
width:100vw;
}
.content{
    justify-content: center;
}
.about-me{
    display:flex;
    justify-content: center;
    width: 60%;
}
.leftside{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 100px;
    align-items: center;
}
.rightside{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
}
.navigation {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    align-items: center; 
    height: 150px;
    margin-bottom: 100px;
}
#work{
    font-size:large;
    color: ivory;

}
#about{
    font-size: 20px;
    color: ivory;
    text-shadow: 0px 0px 1px white;
}
.nav {
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    color:ivory;
    text-shadow: 0px 0px 1px white;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#shuo {
height:300px;
width:300px;
border-radius: 100%;
align-items:center;
justify-content: center;
filter:saturate(120%) brightness(120%) drop-shadow(5px,10px, 10px, 20px, green) hue-rotate(75deg);

}

body {
    background-image: url(./Photos/vast.jpg), linear-gradient(to right bottom, rgba(168, 172, 173, 0.75), skyblue);
    background-blend-mode:multiply;
  
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.small{
    max-width: 250px;
    max-height: 250px;
    margin: 10px;

}
.big{
    max-width: 500px;
    max-height: 500px;

}
h1 {
    font-size: 30px;
    font-variant: small-caps;
}
h2{
    font-size:25px;
    color:ivory;
    text-shadow: 0px 0px 1px white;
    font-weight:bold;
    display:flex;
    margin-bottom: 10px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 20px;
}

#contact-me {
    font-size: 15px;
    color: ivory;
    text-decoration: none;
}

#logo {
    max-height: 100px;
    max-width: 100px;
    opacity: .75;
    border-radius: 100%;
}

.footer{
    font-size: 10px;
    color: ivory;

}
.resume{
    font-size: large;
    color: ivory;

}
/* a {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
} */
.my-work{
    width: 100vw;
    display: flex;
    justify-content: center;
    color: ivory;
    
}
.work-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.title-section{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    color: ivory;
    text-decoration: none;

}
.example{
    display: flex;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
    align-content: space-evenly;
}